<configuration>
    <appender name="VERBOSE_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="INFO_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.redskap.swagger.brake" level="INFO" additivity="false">
        <appender-ref ref="INFO_STDOUT" />
    </logger>

    <root level="OFF" >
        <appender-ref ref="VERBOSE_STDOUT"/>
    </root>
</configuration>