name: Integration tests - Corretto JDK 8
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Set up JDK 8
        uses: actions/setup-java@d854b6da19cdadd9a010605529e522c2393ebd38 # tag=v3
        with:
          java-version: '8'
          distribution: 'corretto'
          cache: gradle
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Build & Test
        run: |
          ./gradlew --no-daemon --console=plain build test

      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 # tag=v3
        with:
          name: test-results
          path: |
            swagger-brake-integration-tests/build/reports/